.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table, th, td {
  border: 1px solid;
}
table {
  margin-top: 80px;
  width: 80vw;
  border-collapse: collapse;
}

.App-link {
  color: #61dafb;
}

.Univ {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


